@import url('https://fonts.googleapis.com/css?family=Michroma&display-swap');

body { 
    background: linear-gradient(90deg, #8585a3
     0%, rgba(0, 0, 0, 0.45) 100%);
     font-family: Michroma, serif;
}

p {
    color:aquamarine;
}
.nav-link {
    color: aquamarine;
}

.navbar-nav .nav-link.active {
    background-color: rgb(177, 177, 177);
}

.navbar-brand img {
    width: 40px;
}

.navbar-toggler {
    background-color: rgb(255, 255, 255);
}

.sidebar {
    color: aquamarine;
    background: linear-gradient(270deg, #8585a3 0%, rgba(0, 0, 0, 0.45) 100%);


}

.card {
    background: linear-gradient(270deg, #8585a3 0%, rgba(0, 0, 0, 0.45) 100%);
    color:aquamarine;
}

.card a {
    text-decoration: none;
    color:aquamarine;
}

.slide-text,
.footer-text 
{
    color:aqua;
    margin:auto auto;
}

footer,
.btn-primary
 {
    background: linear-gradient(270deg, #8585a3 0%, rgba(0, 0, 0, 0.45) 100%);

}
.media-links {
    display:flex;
    justify-content: center;
    align-items: center;
}

.call-anime{
    animation: myAnim 2s ease 0s infinite normal forwards;
}

@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

@media (max-width: 755px) {

    .carousel-inner{
        display: none;
    }
}


